.main-timeline-4 {
  position: relative;
}

.main-timeline-4::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #bbb;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-4 {
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-4::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: #bbb;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left-4 {
  padding: 0px 40px 20px 0px;
  left: 0;
}

.right-4 {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

.left-4::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid rgba(37, 117, 252, 1);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(37, 117, 252, 1);
}

.right-4::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid rgba(245, 87, 108, 1);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(245, 87, 108, 1) transparent transparent;
}

.right-4::after {
  left: -14px;
}

@media screen and (max-width: 600px) {
  .main-timeline-4::after {
    left: 31px;
  }

  .timeline-4 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-4::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left-4::after,
  .right-4::after {
    left: 18px;
  }

  .left-4::before {
    right: auto;
  }

  .right-4 {
    left: 0%;
  }
}

.gradient-custom {
  background: #6a11cb;
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

.gradient-custom-4 {
  background: #f093fb;
  background: -webkit-linear-gradient(to left, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
  background: linear-gradient(to left, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
}

.card-body {
  color: white;
}

.badge {
  margin-right: 5px;
  margin-bottom: 5px;
}

@keyframes pulse {
  0% { transform: scale(1); background-color: rgb(244, 0, 0);; }
  50% { transform: scale(1.1); background-color: red }
  100% { transform: scale(1); background-color: rgb(244, 0, 0);; }
}

.flash-dot::after {
  animation: pulse 1s infinite;
}